<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="headcontent">
<title>Pix FX!</title>
<meta charset="UTF-8" />
<link th:href="@{/css/pure-min.css}" rel="stylesheet"></link>
<link th:href="@{/css/fonts.css}" rel="stylesheet"></link>
<link th:href="@{/css/styles.css}" rel="stylesheet"></link>
</head>
<body>
  <div th:fragment="logo" class="logo" style="text-align: center; height: 190px;">
    <img th:src="@{/img/logo.png}" alt="logo" class="logo-title"></img>
  </div>
</body>
</html>