<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/milligram.css">
</head>
<body>
    <div class="container" style="width:720px; padding-top:20px;">
      <div class="row">
        <div class="column column-90">
          <h1 class="title">The Five Seasons</h1>
        </div>
        <div class="column column-10"></div>
      </div>
        <div class="row">
          <div class="column column-80">
            <h2>Leave a Comment</h2>
          </div>
          <div class="column column-20"></div>
        </div>

        <div class="row">
          <div class="column column-100">
            <form action="/comment" method="post">
              <fieldset>
                <label for="name">Name</label>
                <input type="text" placeholder="Joe" id="name" name="name"/>
                <label for="season">Favorite Season</label>
                <select id="season" name="season">
                  <option value="wi">Winter</option>
                  <option value="sp">Spring</option>
                  <option value="su">Summer</option>
                  <option value="au">Autumn</option>
                  <option value="ea">Easter</option>
                </select>
                <input type="hidden" id="bunny" name="bunny" value="no" />
                <label for="comment">Comment</label>
                <textarea placeholder="Comment" id="comment" name="comment"></textarea>
                <input class="button-primary" type="submit" value="Send"/>
              </fieldset>
            </form>
          </div>
        </div>
      
      </div>
</div>
</body>
</html>
