<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/milligram.css">
</head>
<body>
    <div class="container" style="width:720px; padding-top:20px;">
      <div class="row">
        <div class="column column-90">
          <h1 class="title">The Five Seasons</h1>
        </div>
        <div class="column column-10"></div>
      </div>
        <div class="row">
          <div class="column column-80">
            <img src="images/spring.jpg" />
            <h3>Spring</h3>
          </div>
          <div class="column column-20"></div>
        </div>

        <div class="row">
          <div class="column column-100">
            <h5>Eliza Cook - 1818-1889</h5>
<pre>
  Welcome, all hail to thee!
  Welcome, young Spring!
  Thy sun-ray is bright
  On the butterfly’s wing.
  Beauty shines forth
  In the blossom-robed Thyme Leaves;
  Perfume floats by
  On the soft southern breeze.
  
  Music, sweet music,
  Sounds over the earth;
  One glad choral song
  Greets the primrose’s birth;
  The lark soars above,
  With its shrill matin strain;
  The shepherd boy tunes
  His reed pipe on the plain.
  
  Music, sweet music,
  Cheers meadow and lea;—
  In the song of the blackbird,
  The hum of the bee;
  The loud happy laughter
  Of children at play
  Proclaim how they worship
  Spring’s beautiful day.
  
  The eye of the hale one,
  With joy in its gleam,
  Looks up in the noontide,
  And steals from the beam;
  But the cheek of the pale one
  Is mark’d with despair,
  To feel itself fading,
  When all is so fair.
  
  The hedges, luxuriant
  With flowers and balm,
  Are purple with violets,
  And shaded with palm;
  The zephyr-kiss’d grass
  Is beginning to wave;
  Fresh verdure is decking
  The garden and grave.
  
  Welcome! all hail to thee,
  Heart-stirring May!
  Thou hast won from my wild harp
  A rapturous lay.
  And the last dying murmur
  That sleeps on the string
  Is welcome! All hail to thee,
  Welcome, young Spring!
</pre>
          </div>
        </div>
      
      </div>
</div>
</body>
</html>