<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/milligram.css">
</head>
<body>
    <div class="container" style="width:720px; padding-top:20px;">
      <div class="row">
        <div class="column column-90">
          <h1 class="title">The Five Seasons</h1>
        </div>
        <div class="column column-10"></div>
      </div>
        <div class="row">
          <div class="column column-80">
            <img src="images/winter.jpg" />
            <h3>Winter</h3>
          </div>
          <div class="column column-20"></div>
        </div>

        <div class="row">
          <div class="column column-100">
            <h5>Eliza Cook - 1818-1889</h5>
<pre>
  We know ’tis good that old Winter should come,
  Roving awhile from his Lapland home;
  ’Tis fitting that we should hear the sound
  Of his reindeer sledge on the slippery ground:
  
  For his wide and glittering cloak of snow
  Protects the seeds of life below;
  Beneath his mantle are nurtured and born
  The roots of the flowers, the germs of the corn.
  
  The whistling tone of his pure strong breath
  Rides purging the vapours of pestilent death.
  I love him, I say, and avow it again,
  For God’s wisdom and might show well in his train.
  
  But the naked—the poor! I know they quail
  With crouching limbs from the biting gale;
  They pine and starve by the fireless hearth,
  And weep as they gaze on the frost-bound earth.
  
  Stand nobly forth, ye rich of the land,
  With kindly heart and bounteous hand;
  Remember ’tis now their season of need,
  And a prayer for help is a call ye must heed.
  
  A few of thy blessings, a tithe of thy gold,
  Will save the young, and cherish the old.
  ’Tis a glorious task to work such good—
  Do it, ye great ones! Ye can, and ye should.
  
  He is not worthy to hold from heaven
  The trust reposed, the talents given,
  Who will not add to the portion that’s scant,
  In the pinching hours of cold and want.
  
  Oh! listen in mercy, ye sons of wealth,
  Basking in comfort and glowing with health;
  Give whate’er ye can spare, and be ye sure
  He serveth his Maker who aideth the poor.
</pre>
          </div>
        </div>
      
      </div>
</div>
</body>
</html>