<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/milligram.css">
</head>
<body>
    <div class="container" style="width:720px; padding-top:20px;">
      <div class="row">
        <div class="column column-90">
          <h1 class="title">The Five Seasons</h1>
        </div>
        <div class="column column-10"></div>
      </div>
        <div class="row">
          <div class="column column-80">
            <img src="images/autumn.jpg" />
            <h3>Autumn</h3>
          </div>
          <div class="column column-20"></div>
        </div>

        <div class="row">
          <div class="column column-100">
            <h5>Elizabeth Drew Stoddard</h5>
<pre>
  No melancholy days are these!
  Not where the maple changing stands,
  Not in the shade of fluttering oaks,
  Nor in the bands

  Of twisting vines and sturdy shrubs,
  Scarlet and yellow, green and brown,
  Falling, or swinging on their stalks,
  Is Sorrow’s crown.

  The sparkling fields of dewy grass,
  Woodpaths and roadsides decked with flowers,
  Starred asters and the goldenrod,
  Date Autumn’s hours.

  The shining banks of snowy clouds,
  Steadfast in the aerial blue,
  The silent, shimmering, silver sea,
  To Joy are true.

  My spirit in this happy air
  Can thus embrace the dying year,
  And with it wrap me in a shroud
  As bright and clear! 
</pre>
          </div>
        </div>
      
      </div>
</div>
</body>
</html>