<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/milligram.css">
</head>
<body>
    <div class="container" style="width:720px; padding-top:20px;">
      <div class="row">
        <div class="column column-90">
          <h1 class="title">The Five Seasons</h1>
        </div>
        <div class="column column-10"></div>
      </div>
        <div class="row">
          <div class="column column-80">
            <img src="images/easter.jpg" />
            <h3>Easter</h3>
          </div>
          <div class="column column-20"></div>
        </div>

        <div class="row">
          <div class="column column-100">
            <h5>Fannie Isabelle Sherrick</h5>
<pre>
  Let all the flowers wake to life;
  Let all the songsters sing;
  Let everything that lives on earth
  Become a joyous thing.
  
  Wake up, thou pansy, purple-eyed,
  And greet the dewy spring;
  Swell out, ye buds, and o'er the earth
  Thy sweetest fragrance fling.
  
  Why dost thou sleep, sweet violet?
  The earth has need of thee;
  Wake up and catch the melody
  That sounds from sea to sea.
  
  Ye stars, that dwell in noonday skies,
  Shine on, though all unseen;
  The great White Throne lies just beyond,
  The stars are all between.
  
  Ring out, ye bells, sweet Easter bells,
  And ring the glory in;
  Ring out the sorrow, born of earth--
  Ring out the stains of sin.
  
  O banners wide, that sweep the sky,
  Unfurl ye to the sun;
  And gently wave about the graves
  Of those whose lives are done.
  
  Let peace be in the hearts that mourn--
  Let "Rest" be in the grave;
  The Hand that swept these lives away
  Hath power alone to save.
  
  Ring out, ye bells, sweet Easter bells,
  And ring the glory in;
  Ring out the sorrow, born of earth--
  Ring out the stains of sin.
</pre>
          </div>
        </div>
      
      </div>
</div>
</body>
</html>