<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/milligram.css">
</head>
<body>
    <div class="container" style="width:720px; padding-top:20px;">
      <div class="row">
        <div class="column column-90">
          <h1 class="title">The Five Seasons</h1>
        </div>
        <div class="column column-10"></div>
      </div>
        <div class="row">
          <div class="column column-80">
            <img src="images/summer.jpg" />
            <h3>Summer</h3>
          </div>
          <div class="column column-20"></div>
        </div>

        <div class="row">
          <div class="column column-100">
            <h5>Paul Laurence Dunbar - 1872-1906</h5>
<pre>
  Oh, summer has clothed the earth
  In a cloak from the loom of the sun!
  And a mantle, too, of the skies' soft blue,
  And a belt where the rivers run.
  
  And now for the kiss of the wind,
  And the touch of the air's soft hands,
  With the rest from strife and the heat of life,
  With the freedom of lakes and lands.
  
  I envy the farmer's boy
  Who sings as he follows the plow;
  While the shining green of the young blades lean
  To the breezes that cool his brow.
  
  He sings to the dewy morn,
  No thought of another's ear;
  But the song he sings is a chant for kings
  And the whole wide world to hear.
  
  He sings of the joys of life,
  Of the pleasures of work and rest,
  From an o'erfull heart, without aim or art;
  'T is a song of the merriest.
  
  O ye who toil in the town,
  And ye who moil in the mart,
  Hear the artless song, and your faith made strong
  Shall renew your joy of heart.
  
  Oh, poor were the worth of the world
  If never a song were heard,—
  If the sting of grief had no relief,
  And never a heart were stirred.
  
  So, long as the streams run down,
  And as long as the robins trill,
  Let us taunt old Care with a merry air,
  And sing in the face of ill.   
</pre>
          </div>
        </div>
      
      </div>
</div>
</body>
</html>